---
layout: default.liquid
tags: article
---

<section class="chapter-header">
	<h1><span class="chapter-number">{{chapter}}</span>
		<span class="chapter-title">{{title}}</span></h1>
</section>
<article>
	{{content}}
</article>

<!-- script that draws plots into containers -->
<script src="/assets/js/plot.js"></script>