---
layout: default.liquid
---

<div class="cover">
	<a class="title" href="#toc">
		<h3>Blaise Aguera y Arcas</h3>
		<h1>Who are We Now</h1>
	</a>
	<div class="bg">
		<img src="../assets/images/home/4174244018_df4e606bf4_o-Enhanced-Enhanced Bitmap.png">
		<img src="../assets/images/home/BrI_GdLCMAEipIm-Enhanced Bitmap.png">
		<img src="../assets/images/home/Descent_of_Man_-_Burt_1874_-_Fig_2-Enhanced Bitmap.png">
		<img src="../assets/images/home/IMG_9577-Enhanced Crop Bitmap Cutout.png">
		<img src="../assets/images/home/Jetsons-Enhanced Bitmap 20.png">
	</div>
</div>

