---
layout: default.liquid
tags: article
---

<section class="chapter-header">
	<h1>Interlude: <span class="chapter-title">{{title}}</span></h1>
</section>
<article>
	<div class="cols">
		<div class="col">
			{{content}}
		</div>
	</div>
</article>

<!-- script that draws plots into containers -->
<script src="/assets/js/plot.js"></script>