---
layout: default.liquid
tags: article
---

<section class="chapter-header">
	<h1 class="chapter-intro">{{chapter.layout}}</h1>
	<h1>{{title}}</h1>
</section>
<article>
	{{content}}
	<div id="footnote-popup" class="footnote-text"></div>

</article>
