:root{
	/* global colors */
	--default: rgb(0 0 0);
	--white: rgb(220 255 255);
	--grey: rgb(150 150 150);
	--light-grey: rgb(240 240 240);


	--orange: rgb(260 150 90);
	--green: rgb(65 170 70);
	--blue: rgb(0 170 240);
	--pink: rgb(230 0 140);
	--red: rgb(210 35 40);
	--dark-blue: rgb(40 60 140);
	--violet: rgb(215 50 150);

	--bin1: rgb(110 110 110 / 10%);
	--bin2: rgb(220 220 220 / 10%);
}
