
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Use Imports
# Element Defaults
	## Typography
	## PLOT STYLES
	## STRUCTURES & LAYOUTS 
		### Navigation 
		### Part Intros
		### Chapters
		### Interlude
	## REFERENCE & FOOTNOTE STYLES 
	## FIGURE STYLE
	## SPLOT STYLES 
# Section Agnostic Overrides
  ## Structure
  ## Elements
# SECTION SPECIFIC OVERIDES
  ## Structure
  ## Elements
# Responsive Layout
--------------------------------------------------------------*/

@use 'colors';
@use 'fonts';


/*-----------------------------------------
>>> ELEMENT DEFAULTS
-------------------------------------------*/

/* reset browser default styles*/
*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

/*define global variables*/
:root{
	/* font-sizes */
	--base-size: 18px; 
	--xlarge-size: 80px;
	--heading-size: 48px;
	--large-size: 32px;
	--medium-size: 24px;
	--caption-size: 14px;
	--small-size: 11px;

	/* VF variables */
	--wght: 300;
	--wght-medium: 600;
	--wght-bold: 900;
	--wdth: 120;
	--SRIF: 100;

	/* structures */
	--max-width: 1200px;

	/* spacing */
	--sectionpad: 80px;
	--pad: 10px;
	--indent: 5rem;

	/* figure styles */
	--stroke:  2px;
}

body{
	width: 100vw;
	padding: 2rem;
	font-family: 'Belarius Variable', serif;
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
	font-size: var(--base-size);
}



/*--------------------------------------*/
/* TYPOGRAPHY --------------------------*/
/*--------------------------------------*/

.belarius{
	font-family: 'Belarius Variable';
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}
.belarius-oblique{
	font-family: 'Belarius Variable Oblique', serif;
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Osram Black', sans-serif;
	margin-bottom: var(--pad);
}

h1{
	font-size: var(--heading-size);
}

h2{
	font-size: var(--hsize);
}

p{	
	@extend .belarius;
	position: relative;
	text-indent: var(--indent);
	line-height: 1.6;

	h1 + &, 
	h2 + & {
		text-indent: 0;
	} 
}

p:first-child, hr+p, blockquote+p{
	text-indent: 0;
}

em{
	@extend .belarius-oblique;
}

a{
	color: var(--orange);
}

li {
	list-style-type: none;
}

blockquote{
	@extend .belarius;
	--wdth: 160;
	--wght: 600;
	margin: 1em var(--indent);
	& + h4 { /*citation*/
		@extend .belarius;
		position:relative;
		--wdth: 160;
		--wght: 100;
		margin: -1em var(--indent) 0;
		margin-block-start: 0em;
		margin-block-end: 0em;
		top: -.7em;
	}
}

article{
	width: 60%;
	h1, h2 {
		display: none;
	}
}

hr{
	border: 0;
	background: 0;
	margin: var(--sectionpad) 0;

	&:before{
		content: "* * *";
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}


footer {
	font-size: var(--caption-size);
}

/*--------------------------------------*/
/* STRUCTURES & LAYOUTS ----------------*/
/*--------------------------------------*/

main, footer, section{
	padding: var(--sectionpad) 0;
}

/* Navigation ----------------*/

header {
	
}

nav {
	.navlink {
		position: fixed;
		z-index: 100;
		width: calc(100% - 40px);
		top:0;
		left: 20px;
		transform: translateY(0);
		transition: transform 0.2s ease-in-out;
		padding: 10px 0;
		background-color: var(--white);
		border-bottom: solid 1px;
		z-index: 100;
		&.no-border {
			border-bottom: none;
		}
		&.nav-up {
			transform: translateY(-100%);
		}
	}

	div.home,
	div.current-page {
		display: inline-block;
		font-size: calc(var(--medium-size) / 1.5);
		padding: 5px;
		margin-right: 5px;
		font-family: 'Osram black';
		cursor: pointer;
		
		border: solid 1px;
		background-color: var(--white);

		a {
			color: var(--default);
			text-decoration: none;
		}
		&:hover,
		a:hover {
			background-color: var(--default);
			border-color: var(--default);
			color: var(--white);
		}
	}

	ul.toc {
		position:fixed;
		top: 0;
		left: 0;
		padding-inline-start: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		padding:  60px 0;
		min-height: 100vh;
		// transform: translateY(-100vh);
		z-index: 50;
		// display: none;
		transform: translateY(-100%);
		background-color: var(--white);

		// transition: all ease-in .1s;
		&.display {
			// transform: translateY(0vh);
			// display:block;
			transform: translateY(0);
		}
		a {
			font-family: "Osram Black";
			display: inline-block;
			padding-left: 2rem;
			line-height: 1.0;
			color: var(--default);
			font-size: var(--large-size);
			text-decoration: none;
		}
		.marker a, .marker{
			font-family: 'Osram Regular';
			text-transform: capitalize;
		}
		li {
			width: 100vw;
			padding: 15px 0 20px 0;
			border-bottom: 1px solid;
			font-size: var(--medium-size);
			transition: all ease-in .2s;		

			&:hover {
				background-color: var(--default);
				a {
					color: var(--white);
				}
			}
		
		}


		li.chapter, li.toc-interlude {

			a {
				// padding-left: 4.5rem;
				padding-left: 70px;
			}
		
		}
		
		h4 {
			font-size: var(--caption-size);
			font-family: 'Osram Black';
		}
	}
}


main {
	// max-width: var(--max-width);
	// margin: auto;
	width: calc(100vw - 4rem);
	padding: 0 40px;
	transition: all ease-in .2s;
}


/* Part Intros ----------------*/

.section{
	background: var(--default);
	text-align: center;
	color: var(--white);
}
.part-cover{
	height: 100vh;

	a{
		color: var(--white);
		text-decoration: none;
	}
	h1{
		font-size: var(--xlarge-size);
	}
	h2{
		font-size: var(--heading-size);
	}
	
}

.questions{
	@extend .belarius;
	--wdth: 80;
	--wght: 400;
	font-size: var(--medium-size);
	margin: var(--sectionpad) 0;
	// font-size: var(--medium)
}

/* Chapters ----------------*/

// .chapter-header,
// .chapter-next{ 
// 	padding: var(--sectionpad) 0;
// }

.chapter-next {
	border-top: solid 1px;
	margin: 0 -40px;
	width: calc( 100% + 80px); 
	padding: calc(var(--sectionpad)/2) 0 var(--sectionpad) 0;
}

[class*='chapter-']{

	h1, a{
		display: flex;
	}
	a {
		color: var(--default);
		text-decoration: none;
	}

} 


.chapter-number{
	font-family: 'Osram Regular';
	width: var(--indent);
}

.chapter-intro{
	font-family: 'Osram Regular';
	text-transform: capitalize;
}


/* Article layout ----------------*/

.cols{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	div.col, figure.main {
		width: 50%;
		flex: none;
		padding: 0 2rem;
	}

	// div.col.on,
	// div.col.on-prev, 
	// div.col.on-next{
	// 	width: 45%;
	// 	p {
	// 		font-variation-settings: "wght" 400, "wdth" 80, "SRIF" 100;
	// 	}
	// }


	
}
.col:first-child{
	// flex: 2;
	// margin-right: var(--sectionpad);
}
// .col{
// 	width: 50%;
//     flex: none;
//     padding: 0 2rem;
// }
table{
	font-family: 'Osram Regular';
	font-size: var(--caption-size);
	margin: var(--sectionpad) 0;
	width: 100%;
	td, th{
		font-weight: normal;
		padding: var(--pad);
		text-align: left;
	}
	td{
		border: 1px solid var(--default);
	}
	td:first-child{
		text-align: right;
		border: 0;
	}
}

/* Interlude ----------------*/
.interlude{
	background: var(--default);
	color: var(--white);
	nav {
		.navlink,
		ul.toc {
			background: var(--default);
			color: var(--white);
		}
		a {
			color: var(--white);
		}
	}
}


/*--------------------------------------*/
/* REFERENCE & FOOTNOTE STYLES ---------*/
/*--------------------------------------*/

// body { counter-reset: footnotes }

// [role="doc-noteref"] .ref-no::before{
//   counter-increment: footnotes;
//   content: counter(footnotes);
// }


.reference{
	display: inline-block;
	cursor: pointer;
	text-indent: 0;
	margin: 0 3px;


	&:hover{
		color: var(--orange);
	}

	.footnote-ref{
		font-family: 'Osram Black';
		font-size: var(--caption-size);
		position: relative;
		line-height: 0;
		border-bottom: 3px solid;
		padding-bottom: 3px;
		
	}
}
.footnote-text{
	line-height: 1.5;
	position: absolute;
	z-index: 20;
	width: 300px;
	font-size: var(--caption-size);
	// background: var(--light-grey);
	background: var(--white);
	border: 1px solid var(--default);
	padding: var(--pad);
    transition: all ease-in 0.25s;
	// transition-delay: 0.15s;
	// transform-origin: top left;
	// transform: scale(0.1) translateZ(0);
    // opacity: 0;
	// bottom: auto;
	display: none;
	&.visible{
		// opacity: 1;
		// transform: scale(1) translateZ(0);
		display: block;

	}
}

.caption{
	font-size: var(--caption-size);
	letter-spacing: 0.03em;
	text-indent: 0;
}

.footnotes-list{

	footer{
		column-count: 2;
		column-gap: calc( 2 * var(--pad));
		@extend .caption;
	}
	// ol{
	// 	counter-reset: list-number;
	// }
	li {
		.footnote-no{
			display: inline-block;
			width: var(--indent);
			text-align: right;
			padding-right: 1em;
		}
	// 	&::before{
	// 		counter-increment: list-number;
	// 		content: counter(list-number);
	// 		padding-right: var(--pad);
	// 		display: inline-block;
	// 	}
	}
}

.footnotes-sep, 
section.footnotes {
	display: none;
}

/*--------------------------------------*/
/* FIGURE STYLES -----------------------*/
/*--------------------------------------*/

figure{
	&.main {
		// position: absolute;
		// left: calc(50% + var(--sectionpad));
		// padding: var(--sectionpad) 0;
		// max-width: calc(50% - var(--sectionpad)*2);
		width: 50%;
		// position: sticky;
		// top: 15vh;
		// margin-bottom: 20rem;
		// border: solid 1px;
		padding: 0 7rem;
		opacity: 0;
		transition: all ease-in .1s;

		&.display {
			opacity: 1;
		}

		& img {
			margin: 0 auto;
		}
		&.small img{
			width: 30%;
		}

		&.medium img{
			width: 40%;
		}
		&.large img{
			width: 50%;
		}
	}
	img{
		max-width: 100%;
	}
	
	&.plot {
		width: 50%;
	}

}


figcaption {
	font-family: 'Osram Medium';
	font-size: var(--caption-size);
}

.periphery {
	// position: relative;
	position: fixed;
	height: 100vh;
	// left: 0%;
    opacity: 0;
	max-width: 25vw;
	min-width: 15vw;
    // z-index: -100;
    // left: -15%;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 15%;
    transition: opacity ease-in 400ms;

	&.img-on{
    opacity: 1;
    // position: sticky;
    // top: 0;
    // top: var(--sectionpad);
    }
}

/*--------------------------------------*/
/* PLOT STYLES --------------------------*/
/*--------------------------------------*/
.plot{
	position: relative;
}
.plot-title{
	font-family: 'Osram Regular';
	margin-bottom: 1rem;
	padding-left: 30px;
	max-width: 25em;
}
.fig-no{
	color: var(--grey);
	font-size: 0.7em;
/*	*/
	letter-spacing: 1px;
}

.plot-labels{
	top: 0;
	right: 0;
	top: calc(var(--sectionpad) + 1em);
	width: 100px;
	height: 100%;
	position: absolute;
}
svg{
	width: 100%;
	height: 100%;
}

/*svg classes*/
/*note: SVG has a different syntax than CSS*/
.axis path{
     stroke:black;
     stroke-width:2px ;
 }   

.axis line{
	stroke: black;
	stroke-width: 1.5px;
} 

text{
	font-family: 'Osram Regular', sans-serif;
}

.area{
	opacity: 0.5;
	stroke-width: 0;
}
.line{
	stroke-width: var(--stroke);
	fill: none;
}

.label{
	font-family: 'Osram Regular', sans-serif;
	line-height: 1.1;
	white-space: normal;
	font-size: var(--caption-size);
	position: absolute;
	padding-top: 1em;
}

.series0{
	&.area{
    fill: var(--color0);
  }
  &.line{
    stroke: var(--color0);
  }
	&.label{
    color: var(--color0);
  }
}

.series1{
	&.area{
    fill: var(--color1);
	}
	&.line{
  	stroke: var(--color1);
  }
	&.label{
    color: var(--color1);
  }
}

.series2{
	&.area{
    fill: var(--color2);
	}
	&.line{
    stroke: var(--color2);
	}
	&.label{
    color: var(--color2);
  }	
}

.series3{
	&.area{
    fill: var(--color3);
	}
	&.line{
    stroke: var(--color3);
  }
	&.label{
    color: var(--color3);
  }	
}

.series4{
	&.area{
    fill: var(--color4);
	}
	&.line{
    stroke: var(--color4);
  }
  &.label{
    color: var(--color4);
  }	
}

.series5{
	&.area{
    fill: var(--color5);
    }
  &.line{
    stroke: var(--color5);
	}
	&.label{
    color: var(--color5);
  }	
}

.bin{
	stroke: none;
	fill: var(--bin1);
}
.bin:nth-child(2n){
	fill:  var(--bin2);
}


/*--------------------------------------*/
/* SECTION SPECIFIC OVERIDES   ---------*/
/*--------------------------------------*/

body#home {

	display: flex;
	flex-direction: column;
	
	padding: 0;

	header {
		order: 2;
	}
	header, nav {
		position:relative;
	}
	nav {
		.navlink {
			display: none;
		}
		// div.home {
		// 	background-color: transparent;
		// 	border: solid 2px var(--white);

		// 	&::before {
		// 		content: "Table of Contents";
		// 		color: var(--white);
		// 	}
		// }
		ul.toc {
			display: block;
			position: relative;
			height: auto;
			padding: 0;
		}
	}
	
	footer {
		order: 3;
	}

	
	// nav div.current-page  {

	// }

	main {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		background-color: var(--accent);
		color: var(--white);

		order: 1;

		a {
			color: var(--white);
			text-decoration: none;
		}

		a.title {
			position: absolute;

			z-index: 10;
			top: 50%;
			transform: translateY(-50%);
		
			h1 {
				font-size: 162px;
				line-height: 136px;
				width: 70%;
				
			}
			h3 {
				font-family: 'Belarius Variable';
				font-size: 36px;
				margin-bottom: -20px;
			}
		}

		.bg {
			background-color: var(--accent);
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vw;

			img {
				position:absolute;
				mix-blend-mode: multiply;
				// max-width: 30vw;
				&:first-child {
					top: -5vh;
					left: -5vw;
					width: 40vw;
				}
				&:nth-child(2) {
					top: -5vh;
					left: 50vw;
					width: 40vw;
					transform: rotate(90deg);
				}
				&:nth-child(3) {
					top: 10vh;
					left: 50vw;
					width: 25vw;
				}
				&:nth-child(4) {
					top: 40vh;
					left: 60vw;
					width: 55vw;
				}
				&:nth-child(5) {
					top: 60vh;
					left: -10vw;
					width: 55vw;
				}
			}
		}

	}
	footer {

	}

}