// sass --watch main.scss:../../docs/assets/css/main.css

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Use Imports
# Element Defaults
  ## Typography
  ## Structure
  ## Nav
  ## Elements
# Section Specific Overrides
  ## Structure
  ## Elements
# Responsive Layout
--------------------------------------------------------------*/

@use 'colors';
@use 'fonts';


/*-----------------------------------------
>>> ELEMENT DEFAULTS
-------------------------------------------*/

/* reset browser default styles*/
*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

/*define global variables*/
:root{
	/* font-sizes */
	--base-size: 18px; 
	--large-size: 80px;
	--heading-size: 36px;
	--medium-size: 24px;
	--caption-size: 14px;
	--small-size: 11px;

	/* VF variables */
	--wght: 300;
	--wght-medium: 600;
	--wght-bold: 900;
	--wdth: 120;
	--SRIF: 100;

	/* structures */
	--max-width: 1200px;

	/* spacing */
	--sectionpad: 80px;
	--pad: 10px;
	--indent: 5rem;

	/* figure styles */
	--stroke:  2px;
}

body{
	width: 100vw;
	padding: 2rem;
	font-family: 'Belarius Variable', serif;
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
	font-size: var(--base-size);
}



/*--------------------------------------*/
/* TYPOGRAPHY --------------------------*/
/*--------------------------------------*/

.belarius{
	font-family: 'Belarius Variable';
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}
.belarius-oblique{
	font-family: 'Belarius Variable Oblique', serif;
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-weight: 900;
	font-family: 'Osram', sans-serif;
	margin-bottom: var(--pad);
}

h1{
	font-size: var(--heading-size);
}

h2{
	font-size: var(--hsize);
}

p{	
	@extend .belarius;
	position: relative;
	text-indent: var(--indent);
	line-height: 1.6;
}

p:first-child, hr+p, blockquote+p{
	text-indent: 0;
}

em{
	@extend .belarius-oblique;
}

a{
	color: var(--orange);
}

li {
	list-style-type: none;
}

blockquote{
	@extend .belarius;
	--wdth: 80;
	--wght: 400;
	margin: 1em var(--indent);
}

article{
	
}

hr{
	border: 0;
	background: 0;
	margin: var(--sectionpad) 0;

	&:before{
		content: "* * *";
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}




/*--------------------------------------*/
/* STRUCTURES & LAYOUTS ----------------*/
/*--------------------------------------*/

header, main, footer, section{
	padding: var(--sectionpad) 0;
}

/* Navigation ----------------*/

header {
	position: absolute;
	z-index: 100;
	top:0;
	left:0;
	padding: 0;
	background-color: var(--white);
}
nav {
	background: var(--white);
	.navlink {
		position: fixed;
		top: 10px;
		left: 2rem;
		z-index: 100;
		border: solid 2px;
		display: inline-block;
		background-color: white;
		font-size: calc(var(--medium-size) / 2);
		padding: 5px;
		font-family: 'Osram black';
		// font-variation-settings: "wght" var(--wght-bold); 
		cursor: pointer;
	}
	ul.toc {
		padding-inline-start: 0;
		width: 100vw;
		padding:  40px 0;
		min-height: 100vh;
		// transform: translateY(-100vh);
		display:none;
		transition: display ease-in .5s;
		&.display {
			// transform: translateY(0vh);
			display:block;
		}

		li {
			width: 100vw;
			border-bottom: 1px solid;
			font-family: "Osram Regular";
			font-size: 2rem;
			&::before {
				content:"";
				display: inline-block;
			}
			
			a {
				display: inline-block;
				padding: 10px 0;
				padding-left: 2rem;
				transition: all ease-in .5s;
				
				&:hover,
				&.is-active {
					font-family: "Osram Black";
				}
				
			}
			// font-variation-settings: "wght" var(--wght-medium);
		
		}
		li.part {
			display: list-item;
			// list-style-type: upper-roman;
		}
		// li.part::marker {
		// 	display: inline-block;
		// 	list-style-position:outside;
		// 	width: 2rem;
		// }
		li.chapter {
			list-style-type: none;
			font-variation-settings: "wght" var(--wght); 
			a {
				padding-left: 4rem;
			}
		}
		
		h4 {
			font-size: var(--caption-size);
			font-family: 'Osram Black';
		}
	}
	a {
		color: var(--default);
		text-decoration: none;
	}
}


main {
	max-width: var(--max-width);
	margin: auto;
}

/* Part Intros ----------------*/

.section{
	background: var(--default);
	text-align: center;
	color: var(--white);
}
.part-cover{
	height: 100vh;
	a{
		color: var(--white);
		text-decoration: none;
	}
	h1{
		font-size: var(--large-size);
	}
	h2{
		font-size: var(--heading-size);
	}
}

.questions{
	@extend .belarius;
	--wdth: 80;
	--wght: 400;
	font-size: var(--medium-size);
	margin: var(--sectionpad) 0;
	// font-size: var(--medium)
}

/* Chapters ----------------*/

.chapter-header{
	padding: var(--sectionpad) 0;
	h1{
		display: flex;
	}
}
.chapter-number{
	width: var(--indent);
}


/* Article layout ----------------*/

.cols{
	display: flex;
}
.col:first-child{
	flex: 2;
	margin-right: var(--sectionpad);
}
.col{
	flex: 1;
}
table{
	font-family: 'Osram';
	font-size: var(--caption-size);
	margin: var(--sectionpad) 0;
	width: 100%;
	td, th{
		font-weight: normal;
		padding: var(--pad);
		text-align: left;
	}
	td{
		border: 1px solid var(--default);
	}
	td:first-child{
		text-align: right;
		border: 0;
	}
}

/* Interlude ----------------*/
.interlude{
	background: var(--default);
	color: var(--white);
}


/*--------------------------------------*/
/* REFERENCE & FOOTNOTE STYLES ---------*/
/*--------------------------------------*/

// body { counter-reset: footnotes }

// [role="doc-noteref"] .ref-no::before{
//   counter-increment: footnotes;
//   content: counter(footnotes);
// }

.reference{
	display: inline;
	cursor: pointer;
	.ref-no{
		font-family: 'Osram Medium';
		font-size: var(--small-size);
		position: relative;
		bottom: 8px;

		&:hover{
			color: var(--orange);
		}
	}
	.ref-text{
		line-height: 1.5;

		display: none;
		position: absolute;
		z-index: 20;
		width: 300px;
		left: 0px;
		background: var(--light-grey);
		border: 1px solid var(--default);
		padding: var(--pad);
		&.visible{
			display: block;
		}
	}

}

.caption{
	font-size: var(--caption-size);
	letter-spacing: 0.03em;
	text-indent: 0;
}

.footnotes-list{

	footer{
		column-count: 2;
		column-gap: calc( 2 * var(--pad));
		@extend .caption;
	}
	// ol{
	// 	counter-reset: list-number;
	// }
	li {
		.footnote-no{
			display: inline-block;
			width: var(--indent);
			text-align: right;
			padding-right: 1em;
		}
	// 	&::before{
	// 		counter-increment: list-number;
	// 		content: counter(list-number);
	// 		padding-right: var(--pad);
	// 		display: inline-block;
	// 	}
	}
}

/*--------------------------------------*/
/* FIGURE STYLES -----------------------*/
/*--------------------------------------*/

figure{
	padding: var(--sectionpad) 0;
	img{
		max-width: 100%;
	}
}

figcaption {
	font-family: 'Osram';
	font-size: var(--caption-size);
}

.periphery {
	// position: relative;
	position: fixed;
	height: 100vh;
	// left: 0%;
    opacity: 0;
	max-width: 25vw;
	min-width: 15vw;
    // z-index: -100;
    // left: -15%;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 15%;
    transition: opacity ease-in 400ms;

	&.img-on{
    opacity: 1;
    // position: sticky;
    // top: 0;
    // top: var(--sectionpad);
    }
}

/*--------------------------------------*/
/* PLOT STYLES --------------------------*/
/*--------------------------------------*/
.plot{
	position: relative;
}
.plot-title{
	font-family: 'Osram';
	font-weight: 500;
	margin-bottom: 1rem;
	padding-left: 30px;
	max-width: 25em;
}
.fig-no{
	color: var(--grey);
	font-size: 0.7em;
/*	*/
	letter-spacing: 1px;
}

.plot-labels{
	top: 0;
	right: 0;
	top: calc(var(--sectionpad) + 1em);
	width: 100px;
	height: 100%;
	position: absolute;
}
svg{
	width: 100%;
	height: 100%;
}

/*svg classes*/
/*note: SVG has a different syntax than CSS*/
.axis path{
     stroke:black;
     stroke-width:2px ;
 }   

.axis line{
	stroke: black;
	stroke-width: 1.5px;
} 

text{
	font-family: 'Osram', sans-serif;
}

.area{
	opacity: 0.5;
	stroke-width: 0;
}
.line{
	stroke-width: var(--stroke);
	fill: none;
}

.label{
	font-family: 'Osram', sans-serif;
	line-height: 1.1;
	white-space: normal;
	font-size: var(--caption-size);
	position: absolute;
	padding-top: 1em;
}

.series0{
	&.area{
    fill: var(--color0);
  }
  &.line{
    stroke: var(--color0);
  }
	&.label{
    color: var(--color0);
  }
}

.series1{
	&.area{
    fill: var(--color1);
	}
	&.line{
  	stroke: var(--color1);
  }
	&.label{
    color: var(--color1);
  }
}

.series2{
	&.area{
    fill: var(--color2);
	}
	&.line{
    stroke: var(--color2);
	}
	&.label{
    color: var(--color2);
  }	
}

.series3{
	&.area{
    fill: var(--color3);
	}
	&.line{
    stroke: var(--color3);
  }
	&.label{
    color: var(--color3);
  }	
}

.series4{
	&.area{
    fill: var(--color4);
	}
	&.line{
    stroke: var(--color4);
  }
  &.label{
    color: var(--color4);
  }	
}

.series5{
	&.area{
    fill: var(--color5);
    }
  &.line{
    stroke: var(--color5);
	}
	&.label{
    color: var(--color5);
  }	
}

.bin{
	stroke: none;
	fill: var(--bin1);
}
.bin:nth-child(2n){
	fill:  var(--bin2);
}
