:root {
  /* global colors */
  --default: rgb(0 0 0);
  --white: rgb(255 255 255);
  --grey: rgb(150 150 150);
  --light-grey: rgb(240 240 240);
  --accent: rgb(250 80 0);
  --orange: rgb(260 150 90);
  --green: rgb(65 170 70);
  --blue: rgb(0 170 240);
  --pink: rgb(230 0 140);
  --red: rgb(210 35 40);
  --dark-blue: rgb(40 60 140);
  --violet: rgb(215 50 150);
  --bin1: rgb(110 110 110 / 10%);
  --bin2: rgb(220 220 220 / 10%);
}

/*define fonts*/
@font-face {
  font-family: "Belarius Variable";
  src: url(../fonts/Belarius_var.ttf);
}
@font-face {
  font-family: "Belarius Variable Oblique";
  src: url(../fonts/Belarius_var-Oblique.ttf);
}
@font-face {
  font-family: "Osram";
  font-weight: 400;
  src: url(../fonts/OsramBeta-Regular.otf);
}
@font-face {
  font-family: "Osram";
  src: url(../fonts/OsramBeta-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Osram";
  src: url(../fonts/OsramBeta-Black.otf);
  font-weight: 900;
}
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Use Imports
# Element Defaults
  ## Typography
  ## Structure
  ## Nav
  ## Elements
# Section Specific Overrides
  ## Structure
  ## Elements
# Responsive Layout
--------------------------------------------------------------*/
/*-----------------------------------------
>>> ELEMENT DEFAULTS
-------------------------------------------*/
/* reset browser default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*define global variables*/
:root {
  /* font-sizes */
  --base-size: 18px;
  --large-size: 80px;
  --heading-size: 48px;
  --medium-size: 24px;
  --caption-size: 14px;
  --small-size: 11px;
  /* VF variables */
  --wght: 300;
  --wght-medium: 600;
  --wght-bold: 900;
  --wdth: 120;
  --SRIF: 100;
  /* structures */
  --max-width: 1200px;
  /* spacing */
  --sectionpad: 80px;
  --pad: 10px;
  --indent: 5rem;
  /* figure styles */
  --stroke: 2px;
}

body {
  width: 100vw;
  padding: 2rem;
  font-family: "Belarius Variable", serif;
  font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
  font-size: var(--base-size);
}

/*--------------------------------------*/
/* TYPOGRAPHY --------------------------*/
/*--------------------------------------*/
.belarius, .questions, blockquote, p {
  font-family: "Belarius Variable";
  font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}

.belarius-oblique, em {
  font-family: "Belarius Variable Oblique", serif;
  font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "SRIF" var(--SRIF);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Osram", sans-serif;
  margin-bottom: var(--pad);
}

h1 {
  font-size: var(--heading-size);
}

h2 {
  font-size: var(--hsize);
}

p {
  position: relative;
  text-indent: var(--indent);
  line-height: 1.6;
}

p:first-child, hr + p, blockquote + p {
  text-indent: 0;
}

a {
  color: var(--accent);
}

li {
  list-style-type: none;
}

blockquote {
  --wdth: 80;
  --wght: 400;
  margin: 1em var(--indent);
}

article {
  --wdth: 115;
}
article p {
  max-width: calc(var(--max-width) / 2);
}

hr {
  border: 0;
  background: 0;
  margin: var(--sectionpad) 0;
}
hr:before {
  content: "* * *";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------------------------*/
/* STRUCTURES & LAYOUTS ----------------*/
/*--------------------------------------*/
header, main, footer, section {
  padding: var(--sectionpad) 0;
}

/* Navigation ----------------*/
header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 0;
  background-color: var(--white);
}

nav .navlink {
  position: fixed;
  top: 10px;
  left: 2rem;
  z-index: 100;
}
nav div.home,
nav div.current-page {
  display: inline-block;
  font-size: calc(var(--medium-size) / 1.5);
  padding: 5px;
  margin-right: 5px;
  font-family: "Osram";
  font-weight: 500;
  cursor: pointer;
  border: solid 2px;
  background-color: var(--white);
}
nav div.home:hover,
nav div.home a:hover,
nav div.current-page:hover,
nav div.current-page a:hover {
  background-color: var(--default);
  border-color: var(--default);
  color: var(--white);
}
nav ul.toc {
  position: fixed;
  top: 0;
  left: 0;
  padding-inline-start: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 60px 0;
  min-height: 100vh;
  display: none;
  background-color: var(--white);
  transition: display ease-in 0.5s;
}
nav ul.toc.display {
  display: block;
}
nav ul.toc li {
  width: 100vw;
  border-bottom: 1px solid;
  font-family: "Osram";
  font-size: var(--medium-size);
}
nav ul.toc li::before {
  content: "";
  display: inline-block;
}
nav ul.toc li a {
  display: inline-block;
  padding: 10px 0;
  padding-left: 2rem;
  transition: all ease-in 0.5s;
}
nav ul.toc li a:hover, nav ul.toc li a.is-active {
  font-family: "Osram";
  font-weight: 900;
}
nav ul.toc li.part {
  display: list-item;
}
nav ul.toc li.chapter {
  list-style-type: none;
  font-variation-settings: "wght" var(--wght);
}
nav ul.toc li.chapter a {
  padding-left: 4rem;
}
nav ul.toc h4 {
  font-size: var(--caption-size);
  font-family: "Osram";
  font-weight: 900;
}
nav a {
  color: var(--default);
  text-decoration: none;
}

main {
  width: calc(100vw - 4rem);
  padding: 0 40px;
  transition: all ease-in 0.2s;
}

/* Part Intros ----------------*/
.section {
  background: var(--default);
  text-align: center;
  color: var(--white);
}

.part-cover {
  height: 100vh;
}
.part-cover a {
  color: var(--white);
  text-decoration: none;
}
.part-cover h1 {
  font-size: var(--large-size);
}
.part-cover h2 {
  font-size: var(--heading-size);
}

.questions {
  --wdth: 80;
  --wght: 400;
  font-size: var(--medium-size);
  margin: var(--sectionpad) 0;
}

/* Chapters ----------------*/
.chapter-header {
  padding: var(--sectionpad) 0;
}
.chapter-header h1 {
  display: flex;
}

.chapter-number {
  width: var(--indent);
}

/* Article layout ----------------*/
.cols {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cols .col {
  width: 50%;
  flex: none;
}

.image {
  position: sticky;
  top: var(--pad);
  padding-left: var(--sectionpad);
}
.image img {
  max-height: 80vh;
}

table {
  font-family: "Osram";
  font-size: var(--caption-size);
  margin: var(--sectionpad) 0;
  width: 100%;
}
table td, table th {
  font-weight: normal;
  padding: var(--pad);
  text-align: left;
}
table td {
  border: 1px solid var(--default);
}
table td:first-child {
  text-align: right;
  border: 0;
}

/* Interlude ----------------*/
.interlude {
  background: var(--default);
  color: var(--white);
}
.interlude nav .navlink,
.interlude nav ul.toc {
  background: var(--default);
  color: var(--white);
}
.interlude nav a {
  color: var(--white);
}

/*--------------------------------------*/
/* REFERENCE & FOOTNOTE STYLES ---------*/
/*--------------------------------------*/
.reference {
  display: inline;
  cursor: pointer;
}
.reference .footnote-ref {
  font-family: "Osram";
  font-weight: 500;
  font-size: var(--small-size);
  position: relative;
  bottom: 8px;
  font-size: 1rem;
  vertical-align: baseline;
  border-bottom: 3px solid;
  top: -0.25em;
  color: var(--accent);
}
.reference .footnote-ref:hover {
  border-bottom-color: transparent;
}

.footnote-text {
  line-height: 1.5;
  font-size: 0.8em;
  --wdth: 90;
  display: none;
  position: fixed;
  top: 30%;
  right: var(--sectionpad);
  left: auto;
  z-index: 100;
  width: 300px;
  border: 1px solid var(--default);
  padding: var(--pad);
}
.footnote-text.visible {
  display: block;
}

.caption, .footnotes-list footer {
  font-size: var(--caption-size);
  letter-spacing: 0.03em;
  text-indent: 0;
}

.footnotes-list footer {
  column-count: 2;
  column-gap: calc(2 * var(--pad));
}
.footnotes-list li .footnote-no {
  display: inline-block;
  width: var(--indent);
  text-align: right;
  padding-right: 1em;
}

/*--------------------------------------*/
/* FIGURE STYLES -----------------------*/
/*--------------------------------------*/
figure img {
  max-width: 100%;
}

figcaption {
  font-family: "Osram";
  font-weight: 500;
  font-size: var(--caption-size);
  text-align: center;
}

.periphery {
  position: fixed;
  height: 100vh;
  opacity: 0;
  max-width: 25vw;
  min-width: 15vw;
  transition: opacity ease-in 400ms;
}
.periphery.img-on {
  opacity: 1;
}

/*--------------------------------------*/
/* PLOT STYLES --------------------------*/
/*--------------------------------------*/
.plot {
  position: relative;
}

.plot-title {
  font-family: "Osram";
  margin-bottom: 1rem;
  padding-left: 30px;
  max-width: 25em;
}

.fig-no {
  color: var(--grey);
  font-size: 0.7em;
  /*	*/
  letter-spacing: 1px;
}

.plot-labels {
  top: 0;
  right: 0;
  top: calc(var(--sectionpad) + 1em);
  width: 100px;
  height: 100%;
  position: absolute;
}

svg {
  width: 100%;
  height: 100%;
}

/*svg classes*/
/*note: SVG has a different syntax than CSS*/
.axis path {
  stroke: black;
  stroke-width: 2px;
}

.axis line {
  stroke: black;
  stroke-width: 1.5px;
}

text {
  font-family: "Osram", sans-serif;
}

.area {
  opacity: 0.5;
  stroke-width: 0;
}

.line {
  stroke-width: var(--stroke);
  fill: none;
}

.label {
  font-family: "Osram", sans-serif;
  line-height: 1.1;
  white-space: normal;
  font-size: var(--caption-size);
  position: absolute;
  padding-top: 1em;
}

.series0.area {
  fill: var(--color0);
}
.series0.line {
  stroke: var(--color0);
}
.series0.label {
  color: var(--color0);
}

.series1.area {
  fill: var(--color1);
}
.series1.line {
  stroke: var(--color1);
}
.series1.label {
  color: var(--color1);
}

.series2.area {
  fill: var(--color2);
}
.series2.line {
  stroke: var(--color2);
}
.series2.label {
  color: var(--color2);
}

.series3.area {
  fill: var(--color3);
}
.series3.line {
  stroke: var(--color3);
}
.series3.label {
  color: var(--color3);
}

.series4.area {
  fill: var(--color4);
}
.series4.line {
  stroke: var(--color4);
}
.series4.label {
  color: var(--color4);
}

.series5.area {
  fill: var(--color5);
}
.series5.line {
  stroke: var(--color5);
}
.series5.label {
  color: var(--color5);
}

.bin {
  stroke: none;
  fill: var(--bin1);
}

.bin:nth-child(2n) {
  fill: var(--bin2);
}

/*--------------------------------------*/
/* SECTION SPECIFIC OVERIDES   ---------*/
/*--------------------------------------*/
body#home .current-page::before {
  content: "Table of Contents";
}

/*# sourceMappingURL=main.css.map */
